<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/oauth-demo/static/css/output.css" rel="stylesheet">
  <link rel="icon" href="/oauth-demo/static/favicon.ico">
  <title>GitHub Repositories</title>
</head>
<body data-sly-use.github="org.apache.sling.samples.oauth_demo.GithubRepositoriesModel">
    <main>
        <header class="flex flex-row justify-between">
            <h1>GitHub Repositories</h1>
            <form>
                <input type="text" id="search" name="search" value="${github.search}">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
            </form>
        </header>
        <div data-sly-test="${github.searchResponse}">
            <p class="text-4xl text-center">Repository count: <span id="github-repo-count" data-repo-count="${github.searchResponse.totalCount}">0</span></p>
            <div data-sly-list.item="${github.searchResponse.items}"
                class="flex flex-row flex-wrap">
                <div class="basis-1/3">
                    <div class="px-4 bg-white rounded overflow-hidden shadow-lg m-2">
                        <a href="${item.htmlUrl}" target="_blank">
                            <h2>${item.fullName}</h2>
                            <p>${item.description}</p>
                        </a>
                    </div>
                </div>
            </div>
            <script>
                window.onload = function() {
                    var countElement = document.getElementById('github-repo-count');
                    var finalCount = parseInt(countElement.dataset.repoCount);
                    var currentCount = 0;
                    var interval = setInterval(function() {
                        currentCount++;
                        countElement.textContent = currentCount;
                        if (currentCount >= finalCount) {
                            clearInterval(interval);
                        }
                    }, 10);
                };
            </script>
        </div>
        <div data-sly-test="${github.needsLogin}">
            <p>Please <a class="underline" href="${github.githubLoginUrl}">connect your account to github</a> to view the repositories.</p>
        </div>
        
        <p>Back to the <a class="underline" href="../oauth-demo.html">main page</a>.</p>
    </main>
</body>
</html>