<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/oauth-demo/static/css/output.css" rel="stylesheet">
  <link rel="icon" href="/oauth-demo/static/favicon.ico">
  <title>Sling OAuth Demo</title>
</head>
<body>
    <main>
        <h1>Sling OAuth Demo</h1>
        <sly data-sly-use.user="org.apache.sling.samples.oauth_demo.UserModel">
            <div data-sly-test="${user.loggedIn}">
                <p>Access the <a class="underline" href="oauth-demo/videos.html">YouTube videos</a> page.</p>
                <p>Access the <a class="underline" href="oauth-demo/repositories.html">GitHub repositories</a> page.</p>
                <p>If you prefer, you can <a href="/system/sling/logout.html?resource=${resource.path}.html" class="underline">log out</a>.</p>
            </div>
            <div data-sly-test="${!user.loggedIn}">
                <p>Please <a href="/system/sling/login.html?resource=${resource.path}.html" class="underline">log in</a> to access the demo pages.</p>
            </div>
        </sly>
        
        <h2>About the demo</h2>
        <p>This application shows the expected basic usage of the <a class="underline" href="https://github.com/apache/sling-whiteboard/tree/master/org.apache.sling.servlets.oidc-rp"">Sling OAuth Client bundle (whiteboard)</a></em></p>
        
        <p>It exposes two pages:
            <ul class="list-disc list-inside">
                <li>The Youtube videos page ( <a class="underline" href="https://github.com/apache/sling-samples/tree/master/oauth/ui.apps/src/main/content/jcr_root/apps/oauth-demo/components/youtube-videos">oauth-demo/components/youtube-videos</a>), implemented using a Sling Servlet ( <a class="underline" href="https://github.com/apache/sling-samples/blob/master/oauth/core/src/main/java/org/apache/sling/samples/oauth_demo/impl/YoutubeSearchServlet.java">YoutubeSearchServlet</a>) </li>
                <li>The GitHub repositories page ( <a class="underline" href="https://github.com/apache/sling-samples/tree/master/oauth/ui.apps/src/main/content/jcr_root/apps/oauth-demo/components/github-repos">oauth-demo/components/github-repos</a>), backed by a Sling Model ( <a class="underline" href="https://github.com/apache/sling-samples/blob/master/oauth/core/src/main/java/org/apache/sling/samples/oauth_demo/GithubRepositoriesModel.java">GithubRepositoriesModel</a>) </li>
            </ul>
        </p>
        
        <p>To use the application you will need to register this application as OAuth clients to Google and/or Github.</p>
       
    </main>
</body>
</html>